<div *ngIf="exerciseId && currentSetType" class="page-content">
    <h2>
      {{exerciseId}}
      <button id="delete-exercise" mat-raised-button color="warn">
        Delete Exercise
      </button>
    </h2>
    <div>
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
          <mat-button-toggle value="bold" *ngFor="let setType of allSetTypes" (click)="selectSetType(setType)">
            {{setType.description}}
          </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
  </div>
  <div class="page-content row" 
  *ngIf="currentExercise && currentExercise.length > 0 && currentExercise[0].sets.length > 0">
    <ng-container *ngFor="let e of currentExercise">
        <span class="col-4">
            <app-exercise [exercise]="e" [setType]="currentSetType" 
              (saveExercise)="saveNewExcercise($event)" 
              (calculatePrevWeight)="calculatePrevWeight()"
              (deleteSet)="deleteUserSet($event)">
            </app-exercise>
        </span>
    </ng-container>
    </div>