<h1>Dashboard</h1>
<div id="exercise-selection" class="row">
  <span id="exercise-selection-filters" class="col-12">
      <mat-toolbar>
        <!-- <select id="exercise">
        <option value="box-squat">Box Squat</option>
        <option value="bench">Bench</option>
        </select>
        <select id="set">
        <option value="1">5,4,3,2,1</option>
        <option value="2">5,5,5,5,5</option>
        </select> -->
        <button mat-button [matMenuTriggerFor]="menu">Exercise</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>Box Squat</button>
            <button mat-menu-item>Bench</button>
        </mat-menu>
        <button mat-button> New Exercise</button>
        <button mat-button> New Set Type</button>
      </mat-toolbar>
  </span>
</div>
<div class="page-content row" style="padding:20px">
    <div class="col-4">
        <app-exercise [exercise]="boxSquats[0]"></app-exercise>
    </div>
    <div class="col-4">
        <app-exercise [exercise]="boxSquats[1]"></app-exercise>
    </div>
    <div class="col-4">
        <app-exercise [exercise]="boxSquats[2]"></app-exercise>
    </div>
</div>