.home-container{
    background-color: white;
    height: 100%;
}
.page-content{
    padding:20px
}
#ddelete-exercise{
    float: right;
}
.mat-select-value {color: grey;} 
#exercise-selection{
    #exercise-selection-filters{
        #logout-button{
            float: left
        }
    }
}
#exercise-icon-container{
    padding: 20px 0 20px 0;
    .exercise-icon{
        font-size: 36px;
        float: left;
        margin-right: 24px;
        cursor: pointer;
    }
}
div.card {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
div.header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 40px;
}
div.container {
    padding: 10px;
}