<h1>Home</h1>
<div id="exercise-selection" class="row">
  <div class="col-2"></div>
  <span id="exercise-selection-filters" class="col-10">
    <!-- <select id="exercise">
      <option value="box-squat">Box Squat</option>
      <option value="bench">Bench</option>
    </select>
    <select id="set">
      <option value="1">5,4,3,2,1</option>
      <option value="2">5,5,5,5,5</option>
    </select> -->
    <button> New Exercise</button>
    <button> New Set Type</button>
  </span>
</div>
<div class="page-content row">
    <div id="sidebar" class="col-2">
        <ul>
          <li>Box Squat*</li>
          <li>Bench</li>
        </ul>
      </div>
      <div id="exercise-tables" class="col-10">
        <div id="exercise-table">
            <h2>Previous week 10/01</h2>
            <table style="width:50%">
              <tr>
                <th>Set #</th>
                <th>Previous Weight</th>
                <th>Current Weight</th>
                <th>Expected Reps</th>
                <th>Actual Reps</th>
                <th>% Increase</th>
              </tr>
              <tr>
                <td>1</td>
                <td>90</td>
                <td>100</td>
                <td>5</td>
                <td>4</td>
                <td>1%</td>
              </tr>
              <tr>
                <td>2</td>
                <td>100</td>
                <td>110</td>
                <td>4</td>
                <td>4</td>
                <td>1%</td>
              </tr>
              <tr>
                <td>3</td>
                <td>110</td>
                <td>120</td>
                <td>3</td>
                <td>3</td>
                <td>1%</td>
              </tr>
              <tr>
                <td>4</td>
                <td>110</td>
                <td>120</td>
                <td>2</td>
                <td>2</td>
                <td>1%</td>
              </tr>
              <tr>
                <td>5</td>
                <td>120</td>
                <td>130</td>
                <td>1</td>
                <td>1</td>
                <td>1%</td>
              </tr>
            </table>
        </div>
        <div id="exercise-table">
            <h2>Previous week 10/08</h2>
            <table style="width:50%">
              <tr>
                <th>Set #</th>
                <th>Previous Weight</th>
                <th>Current Weight</th>
                <th>Expected Reps</th>
                <th>Actual Reps</th>
                <th>% Increase</th>
              </tr>
              <tr>
                <td>1</td>
                <td>90</td>
                <td>100</td>
                <td>5</td>
                <td>4</td>
                <td>1%</td>
              </tr>
              <tr>
                <td>2</td>
                <td>100</td>
                <td>110</td>
                <td>4</td>
                <td>4</td>
                <td>1%</td>
              </tr>
              <tr>
                <td>3</td>
                <td>110</td>
                <td>120</td>
                <td>3</td>
                <td>3</td>
                <td>1%</td>
              </tr>
              <tr>
                <td>4</td>
                <td>110</td>
                <td>120</td>
                <td>2</td>
                <td>2</td>
                <td>1%</td>
              </tr>
              <tr>
                <td>5</td>
                <td>120</td>
                <td>130</td>
                <td>1</td>
                <td>1</td>
                <td>1%</td>
              </tr>
            </table>
        </div>
        <div id="exercise-table">
            <h2>Previous week 10/15</h2>
            <table style="width:50%">
              <tr>
                <th>Set #</th>
                <th>Previous Weight</th>
                <th>Current Weight</th>
                <th>Expected Reps</th>
                <th>Actual Reps</th>
                <th>% Increase</th>
              </tr>
              <tr>
                <td>1</td>
                <td>90</td>
                <td>100</td>
                <td>5</td>
                <td>4</td>
                <td>1%</td>
              </tr>
              <tr>
                <td>2</td>
                <td>100</td>
                <td>110</td>
                <td>4</td>
                <td>4</td>
                <td>1%</td>
              </tr>
              <tr>
                <td>3</td>
                <td>110</td>
                <td>120</td>
                <td>3</td>
                <td>3</td>
                <td>1%</td>
              </tr>
              <tr>
                <td>4</td>
                <td>110</td>
                <td>120</td>
                <td>2</td>
                <td>2</td>
                <td>1%</td>
              </tr>
              <tr>
                <td>5</td>
                <td>120</td>
                <td>130</td>
                <td>1</td>
                <td>1</td>
                <td>1%</td>
              </tr>
            </table>
        </div>
      </div>
</div>