<div id="header">
    <h1 class="head">Gainz - Dashboard</h1>
</div>
<div class="container home-container">
  <div id="exercise-selection" class="row">
    <span id="exercise-selection-filters" class="col-12">
        <mat-toolbar>
          <!-- make this button a diff color so it stands out -->
          <button *ngIf="currentExerciseType !== undefined || currentRun === true" mat-button (click)="back()">
            Back
          </button>
          <button mat-button (click)="addNewSet()" *ngIf="currentExerciseType && currentSetType"> Add New Set</button>
          <button mat-button> Create New Set Type</button>
          <button mat-button (click)="createExercise()"> Create New Exercise</button>
          <div>
            <button mat-button [matMenuTriggerFor]="menu"> {{ username }}</button>
            <mat-menu #menu="matMenu">
              <button id="logout-button"mat-button (click)="logout()"> Logout</button>
            </mat-menu>
          </div>
  
        </mat-toolbar>
    </span>
  </div>
  <div id="exercise-icon-container" *ngIf="currentExerciseType === undefined && currentRun === false">
    <!-- run -->
    <div class="exercise-icon clickable" (click)="selectRun()"> 
      <div class="card">
        <div class="header">
            <fa-icon [icon]="faDumbbell"></fa-icon>
        </div>
        <div class="container">
          <p> Run</p>
        </div>
      </div>
    </div>
    <div *ngFor="let type of exerciseTypes" class="exercise-icon clickable" (click)="selectExerciseType(type)"> 
      <div class="card">
        <div class="header">
            <fa-icon [icon]="faDumbbell"></fa-icon>
        </div>
        <div class="container">
          <p> {{type.description}}</p>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="currentExerciseType && currentSetType" class="page-content">
    <h2>
      {{currentExerciseType.description}}
      <button id="delete-exercise" mat-raised-button color="warn">
        Delete Exercise
      </button>
    </h2>
    <div>
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
          <mat-button-toggle value="bold" *ngFor="let setType of allSetTypes" (click)="selectSetType(setType)">
            {{setType.description}}
          </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
  </div>
  <div class="page-content row" *ngIf="currentRun">
    <app-runs></app-runs>
  </div>
  <div class="page-content row" 
  *ngIf="currentExercise && currentExercise.length > 0 && currentExercise[0].sets.length > 0">
    <ng-container *ngFor="let e of currentExercise">
        <span class="col-4">
            <app-exercise [exercise]="e" [setType]="currentSetType" 
              (saveExercise)="saveNewExcercise($event)" 
              (calculatePrevWeight)="calculatePrevWeight()"
              (deleteSet)="deleteUserSet($event)">
            </app-exercise>
        </span>
    </ng-container>
    </div>
</div>