<div class="exercise-container" style="max-width: 1500px; overflow:auto">
    <div class="table-header"> 
        <h2 class="center-text">
            April
        </h2>
    </div>
    <form [formGroup]="form2">
        <table mat-table [dataSource]="data">
            <ng-container matColumnDef="week" formArrayName="runs">
                <th mat-header-cell *matHeaderCellDef> Week </th>
                <td mat-cell *matCellDef="let element; let i = index"> 
                    <span [formGroupName]="i">
                        <input matInput formControlName="week" style="width:50%">
                    </span>
                </td>
            </ng-container>
            <ng-container *ngFor="let day of days">
                <span class="week-column" [matColumnDef]="day" formArrayName="runs">
                    <th mat-header-cell *matHeaderCellDef> {{day}} </th>
                    <td mat-cell *matCellDef="let element; let i = index"> 
                        <span [formGroupName]="i">
                            <div [formGroupName]="day" style="width: 175px">
                                <mat-form-field class="week-column-field" appearance="fill" style="width:50px">
                                    <mat-label>Miles</mat-label>
                                    <input type="number" matInput formControlName="distance" style="width:50px">
                                </mat-form-field>
                            </div> 
                            <div [formGroupName]="day">
                                <mat-form-field class="week-column-field" appearance="fill" style="width:50px">
                                    <mat-label>Hours</mat-label>
                                    <input type="number" matInput formControlName="hours">
                                </mat-form-field>
                                <mat-form-field class="week-column-field" appearance="fill"  style="width:50px">
                                    <mat-label>Mins</mat-label>
                                    <input type="number" matInput formControlName="mins">
                                </mat-form-field>
                                <mat-form-field class="week-column-field" appearance="fill" style="width:50px">
                                    <mat-label>Sec.</mat-label>
                                    <input type="number" matInput formControlName="seconds">
                                </mat-form-field>
                            </div>
                        </span>
                    </td>
                </span>
            </ng-container>
            <ng-container *ngFor="let column of nonDayColumns">
                <ng-container [matColumnDef]="column" formArrayName="runs">
                    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
                    <td mat-cell *matCellDef="let element; let i = index"> 
                        <span [formGroupName]="i">{{element[column]}}</span>
                    </td>
                </ng-container>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
        </table>
    </form>

    <div class="button-bar">
        <span class="edit-bar">
            <button *ngIf="form.disabled" (click)="form.enable()" mat-raised-button>Edit</button>
            <button *ngIf="form.enabled" (click)="cancel()" mat-raised-button style="margin-right: 10px;">Cancel</button>
            <button *ngIf="form.enabled" (click)="save()" mat-raised-button>Save</button>
        </span>
        <span class="delete-bar">
            <button *ngIf="form.enabled" (click)="addRun()" mat-raised-button>Add Run</button>
            <button *ngIf="form.enabled" (click)="delete()" mat-raised-button color="warn">Delete Set</button>
        </span>
    </div>
</div>