.mat-input-element:disabled, 
.mat-form-field-type-mat-native-select.mat-form-field-disabled 
.mat-form-field-infix::after {
  color: grey;
}
.center-text{
  text-align: center;
}
.table-header{
  background-color: grey;
  height: 53px;
  padding-top: 5px;
  padding-left: 6px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.button-bar{
  background-color: grey;
  height: 53px;
  padding-top: 5px;
  padding-left: 6px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  .edit-bar{
    float:left;
  }
  .delete-bar{
    float:right;
    padding-right: 6px;
  }
}
.mat-column-week {
    min-width: 65px;
}
.mat-column-mon {
  width: 75px;
}
.mat-column-tue {
  width: 75px;
}
.mat-column-wed {
  width: 75px;
}
.mat-column-thur {
  width: 75px;
}
.mat-column-fri {
  width: 75px;
}
.mat-column-sat {
  width: 75px;
}
.mat-column-sun {
  width: 75px;
}
.mat-column-total {
  min-width: 30px;
}
.mat-column-mileIncrease {
  min-width: 75px;
}
.mat-column-percentIncrease {
  min-width: 75px;
}
.mat-column-max {
  min-width: 75px;
}
.mat-column-maxIncrease {
  min-width: 75px;
}
.mat-column-maxPercentIncrease {
  min-width: 75px;
}
.mat-column-daysTrained {
  min-width: 75px;
}