<table>
    <thead>
        <tr>
            <td class="day-header">Day</td>
            <td class="day-miles">Total Miles</td>
            <td class="day-time">Total Time</td>
        </tr>
    </thead>
    <tbody>
        <tr class="row-height">
            <td>Mon</td>
            <td>08:00:03</td>
            <td>08:00:03</td>
        </tr>
        <tr class="row-height">
            <td>Tue</td>
            <td>08:00:03</td>
            <td>08:00:03</td>
        </tr>
        <tr class="row-height">
            <td>Wed</td>
            <td>08:00:03</td>
            <td>08:00:03</td>
        </tr>
        <tr class="row-height">
            <td>Thur</td>
            <td>08:00:03</td>
            <td>08:00:03</td>
        </tr>
        <tr class="row-height">
            <td>Fri</td>
            <td>08:00:03</td>
            <td>08:00:03</td>
        </tr>
        <tr class="row-height">
            <td>Sat</td>
            <td>08:00:03</td>
            <td>08:00:03</td>
        </tr>
        <tr class="row-height">
            <td>Sun</td>
            <td>08:00:03</td>
            <td>08:00:03</td>
        </tr>
    </tbody>
</table>